.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.iconPhone {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  animation: bimp 1s linear infinite normal;
}

@keyframes bimp {
  0% {
    width: 35px;
    height: 35px;
  }
  25% {
    width: 40px;
    height: 40px;
  }
  50% {
    width: 45px;
    height: 45px;
  }
  75% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 35px;
    height: 35px;
  }
}
